LISTEN_PORT=8001
JWT_SECRET_KEY=<your_secret_key>
INSTANCES_API_URL="http://localhost:8000"
WEB_PUSH_VAPID_SUBJECT="mailto:suporte@exemplo.com"
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
PUSH_NOTIFICATIONS_SECRET=